<div class="row" id="text_anchor">
    <div class="col-md-12">
        <div class="panel">
            <header class="panel-heading">
                Banner Image Headings
                <div style="float:right">
                    <a href="" title="Add a banner image heading" ng-click="addBanner()">
                        <img src="images/icons/add.png"/>
                    </a>
                </div>
            </header>
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <tbody><tr>
                        <th>Order</th>
                        <th>Heading</th>
                        <th>Image</th>
                        <th>Content</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="banner in data.banners track by $index">
                        <td>{{ $index+1 }}</td>
                        <td>{{ banner.heading }}</td>
                        <td><img src="uploaded/{{ banner.image}}" class="list-image"/></td>
                        <td>{{ banner.content|limitTo:200}}</td>
                        <td>
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm" title="edit" ng-click="editBanner($index)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" title="move up" ng-click="moveup($index, 'banners')">
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" title="move down" ng-click="movedown($index, 'banners')">
                                        <span class="glyphicon glyphicon-arrow-down"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" title="remove" ng-click="remove($index, 'banners')">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody></table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
    <div class="col-md-12">
        <div class="panel">
            <header class="panel-heading">
                Featurette Headings
                <div style="float:right">
                    <a href="" title="Add a featurette headings" ng-click="addFeaturette()">
                        <img src="images/icons/add.png"/>
                    </a>
                </div>
            </header>
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <tbody><tr>
                        <th>Order</th>
                        <th>Heading</th>
                        <th>Image</th>
                        <th>Content</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="featurette in data.featurettes track by $index">
                        <td>{{ $index+1 }}</td>
                        <td>{{ featurette.heading }}</td>
                        <td><img src="uploaded/{{ featurette.image}}" class="list-image"/></td>
                        <td>{{ featurette.content|limitTo:200}}</td>
                        <td>
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm" title="edit" ng-click="editFeaturette($index)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" title="move up" ng-click="moveup($index, 'featurettes')">
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" title="move down" ng-click="movedown($index, 'featurettes')">
                                        <span class="glyphicon glyphicon-arrow-down"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" title="remove" ng-click="remove($index, 'featurettes')">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody></table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>

</div><!--row1-->
<div class="row" id="profile_anchor">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                Profiles
                <div style="float:right">
                    <a href="" title="Add a team member" data-toggle="modal" data-target="#teamMemberModal">
                        <img src="images/icons/add.png"/>
                    </a>
                </div>
            </header>
            <div class="panel-body">
                <div class="col-md-4 form-group" ng-repeat="teamMember in data.profiles track by $index">
                    <div class="card" style="box-shadow: #666 0px 0px 5px;padding:2px">
                        <div class="card-block" style="display:flex;flex-direction: row">
                        <div style=""><img src="uploaded/{{ teamMember.icon }}" alt="Card image cap" style="border-radius:5px;width:80px;"/></div>
                        <div class="card-block" style="margin-left: 10px;">
                            <h5 style="text-overflow:ellipsis;overflow:hidden;" class="card-title">{{ teamMember.name|limitTo:30 }}</h5>
                            <h6 style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap;">{{ teamMember.title|limitTo:30 }}</h6>
                            <p style="text-overflow:ellipsis;overflow:hidden;">{{ teamMember.email|limitTo:30 }}</p>
                         </div>
                        </div>
                        <div class="card-block" style="margin-top:15px">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span> Edit
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-remove"></span> Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row" id="media_anchor">
    <div class="col-md-12">
        <div class="panel">
            <header class="panel-heading">
                Media
                <div style="float:right">
                    <a href="" title="Add a message" data-toggle="modal" data-target="#teamMemberModal">
                        <img src="images/icons/add.png"/>
                    </a>
                </div>
            </header>
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <tbody><tr>
                        <th>Order</th>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Message</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Image</td>
                        <td>Journey Image</td>
                        <td>Bacon ipsum dolor sit amet ...</td>
                        <td>
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-arrow-down"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Vedio</td>
                        <td>Presentation Vedio</td>
                        <td>Bacon ipsum dolor sit amet ...</td>
                        <td>
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-arrow-down"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>

                    </tbody></table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
<!-- modal box -->
<div ng-include="'partials0/modals/banner_add.html'" include-replace></div>
<div ng-include="'partials0/modals/featurette_add.html'" include-replace></div>
<div ng-include="'partials0/modals/profile_add.html'" include-replace></div>
<!-- /modal box -->